# Dependencies
node_modules/

# Build output
.next/
out/

# Environment variables (KEEP SECRET)
.env
.env.local
.env*.local

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
